@import (css) url('https://fonts.googleapis.com/css?family=Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa&display=swap');

.cart-modal-content {
  margin: 5% auto;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #fffafa, #eef3f5);
  -webkit-box-shadow: 7px 6px 8px -2px rgba(33,33,33,1);
  -moz-box-shadow: 7px 6px 8px -2px rgba(33,33,33,1);
  box-shadow: 7px 6px 8px -2px rgba(33,33,33,1);
  border-top: solid 3px #fffafa;
  border-bottom: solid 3px #eef3f5;
  display: block;
  // display: flex;
}

.cart-modal-header {
  display: block;
  height: 40px;

  .cart-heading {
    float: left;
    font-family: 'Comfortaa';
    font-size: 20px;
    margin: 20px 0 0 20px;
    color: #758aa1;
  }

}

.cart-body {
  margin-top: 40px;
  display: block;
  width: 100%;

  .cart_table_container{
    height: 430px;
    display: block;
    overflow: auto;
  }

  .cart-table {
    width: 100%;
    border-spacing: 0;
  }
  
  .table-cell tr, td, th {
    height: 20px;
    padding: 10px;
    font-family: 'Comfortaa';
    font-weight: 100;
  }

  th {
    background-color: #758aa1;
    color: #fff;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .small {
    font-size: 12px;
  }

  .total-table {
    margin: auto;
    width: 80%;
    border-spacing: 0;
    position: absolute;
    bottom: 15%;
    left: 10%;

    tr, td, th {
      background-color: #9fbcdb;
    }
  }
}
