@import (css) url('https://fonts.googleapis.com/css?family=Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa&display=swap');


.item {
  min-width: 250px;
  width: 250px;
  margin: 15px;
}

.image_container {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  border: solid #ffffff 0.5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-heading {
  font-family: 'Libre Franklin';
  color: #111111;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 800;
}

.item-desc {
  text-align: left;
  margin: 10px;
  font-family: 'Comfortaa';
  font-size: 12px;
  color: #959595;
}

.item-price {
  font-family: 'Libre Franklin';
  color: #474747;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 100;
}

.add-to-cart {
  color: white;
  border: none;
  width: 80px;
  height: 40px;
  background-color: #4e4e4e;
  font-family: 'Comfortaa';
  font-size: 14px;
  border-radius: 5px;
  float: right;
  position: relative;
  bottom: -20px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
}

.add-to-cart:hover {
  color: white;
  background-color: #292929;
}

.extras_container {
  width: 100%; 
  height: 250px;
  background: white;
  margin-bottom: 10px;
  border: solid #c0c0c0 0.5px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
  float: none;
  display: table;
  width: 100%;
  padding-top: 10px;
}

.form .plan input, .form .payment-plan input, .form .payment-type input{
  display: none;
}

.form label{
  font-family: 'Libre Franklin';
  color: rgb(61, 61, 61);
  font-size: 14px;
  text-align: center;
  width: 80%;
  display: table;
  cursor: pointer;
  margin: 0 auto 2px auto;
  float: none;
  border: 2px solid rgba(255, 126, 119, 0);
}

.extra1 {
  height: 30px;
  line-height: 30px;
}

.extra2 {
  height: 40px;
  line-height: 40px;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
  background-color: rgb(61, 61, 61);
  color: white;
}

.submit_button {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  font-family: 'Libre Franklin';
  width: 208px;
  height: 50px;
  position: absolute;
  bottom: -45px;
  margin: 0 23px;
  background-color: #ff424e;
  border: none;
  color: #ffffff;
}

.submit_button:hover{
  background-color: #e0313c;
}
