@import (css) url('https://fonts.googleapis.com/css?family=Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa&display=swap');


.item {
  width: 33%;
//   border-top: solid 3px #565656;
//   border-bottom: solid 3px #565656;
//   margin: 5px;
//   border-radius: 10px;
//   background-image: linear-gradient(135deg, #fffafa, #eef3f5);
//   -webkit-box-shadow: 7px 6px 8px -2px rgba(79,79,79,1);
//   -moz-box-shadow: 7px 6px 8px -2px rgba(79,79,79,1);
//   box-shadow: 7px 6px 8px -2px rgba(79,79,79,1);
  position: absolute;
}

.image-container {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 98%;
  border-radius: 5px;
  object-fit: cover;
  -webkit-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);

}

.item-heading {
  text-align: left;
  margin: 0 10px 5px 10px;
  font-family: 'Permanent Marker';
  color: #4e4e4e;
  font-size: 20px;
}

.item-desc {
  text-align: left;
  margin: 10px;
  font-family: 'Comfortaa';
  font-size: 12px;
  color: #959595;
}

.item-price {
  text-align: left;
  margin: 20px 0 20px 10px;
  font-family: 'Comfortaa';
  font-size: 18px;
  color: #d92b54;
}

.add-to-cart {
  color: #4e4e4e;
  border: none;
  width: 80px;
  height: 40px;
  background-color: white;
  font-family: 'Comfortaa';
  font-size: 14px;
  border-radius: 5px;
  float: right;
  position: relative;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
}

.add-to-cart:hover {
  color: white;
  background-color: #4e4e4e;

}


/* RADIO BUTTON FORMATTING */

/* CONTAINERS */

.container {
  width: 100%; 
  height: 66%;
  border-radius: 7px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
//.four { width: 32.26%; max-width: 32.26%;}


/* COLUMNS */

//.col {
  //display: block;
  //float:left;
  //margin: 1% 0 1% 1.6%;
//}

//.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
  margin: 10px auto;
  float: none;
  display: table;
  width: 100%;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
  display: none;
}

.form label{
  font-family: 'Comfortaa';
  color: rgb(177, 177, 177);
  font-size: 14px;
  text-align: center;
  width: 80%;
  display: table;
  cursor: pointer;
  margin: auto;
  float: none;
  border-radius: 3px;
  border: 2px solid rgba(255, 126, 119, 0);
}

.extra1 {
  height: 30px;
  line-height: 30px;
}

.extra2 {
  height: 50px;
  line-height: 50px;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
  border: 2px solid rgba(255, 126, 119, 0.61);
  color: white;
}

.submit_button {
 font-family: 'Comfortaa';
 border-radius: 3px;
 border: 2px solid rgba(255, 126, 119, 0.61);
 padding: 15px;
 width: 81%;
 display: table;
 margin: auto;
 color: rgba(255, 126, 119, 0.61);
 font-size: 14px;
 float: none;
 background: rgba(0,0,0,0);
 position: absolute;
 bottom: 3%;
 left: 10%;
}

.submit_button:hover{
 cursor: pointer;
 background: rgba(255, 126, 119, 0.61);
 color: #ffffff;
 font-weight: 600;
}
