@import (css) url('https://fonts.googleapis.com/css?family=Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa&display=swap');


.item {
  @media (max-width: 480px) {
    width: 100vw;
    margin: 30px 0 0 0;
    height: 300px;
  }
  min-width: 250px;
  width: 250px;
  margin: 15px;
}

.image_container {
  @media (max-width: 480px) {
    height: 250px;
  }
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  border: solid #ffffff 0.5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-heading {
  @media (max-width: 480px) {
    margin-left: 10px;
  }
  font-family: 'Libre Franklin';
  color: #111111;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 800;
}

.item-desc {
  text-align: left;
  margin: 10px;
  font-family: 'Comfortaa';
  font-size: 12px;
  color: #959595;
}

.item-price {
  @media (max-width: 480px) {
    margin-left: 10px;
  }
  font-family: 'Libre Franklin';
  color: #474747;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 100;
}

.add-to-cart {
  @media (max-width: 480px) {
    margin: -20px 10px 0 0;
    width: 120px;
    height: 40px;
    background-color: white;
    color: #636363;
    border: solid #97a1ac 1px;
    border-radius: 1px;
  }
  @media (min-width: 481px) {
    -webkit-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  }
  color: white;
  border: none;
  width: 80px;
  height: 40px;
  background-color: #4e4e4e;
  font-family: 'Comfortaa';
  font-size: 14px;
  float: right;
  cursor: pointer;
}

.add-to-cart:hover {
  color: white;
  background-color: #292929;
}

.extras_container {
  width: 100%; 
  background: white;
  margin-bottom: 10px;
}

.eheight {
  height: 250px;
}

.eborder {
  border: solid #c0c0c0 0.5px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
  float: none;
  display: table;
  width: 100%;
  padding-top: 10px;
}

.form .plan input, .form .payment-plan input, .form .payment-type input{
  display: none;
}

.form label{
  font-family: 'Libre Franklin';
  color: rgb(61, 61, 61);
  font-size: 14px;
  text-align: center;
  width: 80%;
  display: table;
  cursor: pointer;
  margin: 0 auto 2px auto;
  float: none;
  border: 1px solid rgba(255, 126, 119, 0);
}

.extra1 {
  height: 30px;
  line-height: 30px;
}

.extra2 {
  height: 40px;
  line-height: 40px;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
  // background-color: rgb(61, 61, 61);
  // color: white;
  border: solid #97a1ac 1px;
  border-radius: 1px;
}

.placeholder {
   height: 31.5px;
   line-height: 30px;
   margin: 0 auto 2px auto;
   border: solid white 1px;
   width: 80%;
 }

.placeholder_2 {
  height: 42px;
  margin: 0 auto 2px auto;
  border: solid white 1px;
  width: 80%;
}
