@import (css) url('https://fonts.googleapis.com/css?family=Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa&display=swap');


.register-window {
  position: absolute;
  right: 30px;
  top: 50px;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}
input {
  display: inline-block;
  float: left;
}

.modal-content {
  margin: 15vw auto;
  width: 40vw;
  height: 17vw;
  border-radius: 2px;
  border-top: solid 3px #fffafa;
  border-bottom: solid 3px #eef3f5;
  background-color: white;
}

.register-header {
  float: left;
  font-family: 'Permanent Marker';
  font-size: 20px;
  margin: 10px 0 0 15px;
  color: #758aa1;
}
