@import (css) url('https://fonts.googleapis.com/css?family=Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa&display=swap');


.register-window {
  position: absolute;
  right: 30px;
  top: 50px;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}
input {
  display: inline-block;
  float: left;
}