@import (css) url('https://fonts.googleapis.com/css?family=Indie+Flower|Baloo|Poiret+One|Raleway|Asap|Permanent+Marker|Stylish|Mandali|Comfortaa|Libre+Franklin|Noto+Sans&display=swap');


@screen-se:     320px;
@screen-xs:     480px;
@screen-xs-min: @screen-xs;
@screen-sm:     768px;
@screen-sm-min: @screen-sm;
@screen-md:     992px;
@screen-md-min: @screen-md;
@screen-lg:     1200px;
@screen-lg-min: @screen-lg;
@screen-xl:     1600px;
@screen-xl-min: @screen-xl;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@screen-lg-max: (@screen-xl-min - 1);

img {
  max-width:100%;
  height:auto;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  margin: auto;
  width: 80px;
}

.logo_img {
  cursor: pointer;
}

.main_header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar li {
  display: inline;
}

.navbar {
  @media (max-width: 400px) {
    width: 100vw;
    margin: 15px auto;
    font-size: 12px;
  }
  width: 400px;
  font-family: 'Libre Franklin';
  font-weight: 800;
  margin: 15px auto 0 auto;
  font-size: 14px;
}

.navbar_item {
  @media (max-width: 400px) {
    margin: 5vw;
  }
  margin: 20px;
  cursor: pointer;
}

.navbar_item:hover {
  color: rgb(112, 112, 112);
}

.white_row {
  height: 1px;
  border-bottom: rgb(190, 190, 190) 0.5px solid;
}

.intro_background_container {
  position: absolute;
  width: 100%;
  height: 82%;
}

.intro_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //-webkit-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  //-moz-box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
  //box-shadow: 10px 10px 12px -11px rgba(0,0,0,0.75);
}

.login_header {
  width: 120px;
  font-family: 'Libre Franklin';
  font-weight: 800;
  margin: 40px auto;
  font-size: 24px;
}

.register_header {
  width: 150px;
  font-family: 'Libre Franklin';
  font-weight: 800;
  margin: 40px auto;
  font-size: 24px;
}

.delimiter {
  width: 100%;
  border: rgb(233, 233, 233) solid 0.5px;
}

.button {
  display: flex;
  overflow: hidden;

  width: 150px;
  height: 30px;
  margin: 0px auto 40px auto;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-family: 'Baloo', cursive;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.regular {
  border-radius: 25px;
  padding: 1rem;
  font-family: 'Permanent Marker';
  padding: .5rem 3rem;
  color: #505A66;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(#505A66, #505A66), linear-gradient(101deg, #fabd5a, #d92b54);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;

  &:hover {
    border-radius: 30px;
    padding: 1rem;
    font-family: 'Permanent Marker';
    padding: .5rem 3rem;
    color: #fffbe2;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #fabd5a, #d92b54);
    background-origin: border-box;
    background-clip: content-box, border-box;
    opacity: 1;

  }

  &:active {
    //background-image: linear-gradient(#505A66, #505A66), linear-gradient(101deg, #fabd5a, #d92b54);
    opacity: 1;
    border: solid 3px #e8e8e8;
  }
}

.main-hidden {
  visibility: hidden;
}

.register {
  cursor: pointer;
  font-family: 'Baloo';
  color: #a8a8a8;
  position: absolute;
  top: 20px;
  right: 30px;
}

.login {
  @media (max-width: 800px) {
    right: 2vw;
    font-size: 5px;
    margin-right: 15px;
  }
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15vw;
  font-family: 'Libre Franklin';
  font-weight: 800;
  font-size: 12px;
  display: inline-flex;
  vertical-align: middle;
}

.cart_container {
  @media (max-width: 800px) {
    right:0vw;
    font-size: 5px;
  }
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 7vw;
  font-family: 'Libre Franklin';
  font-weight: 800;
  font-size: 12px;
  display: inline-flex;
  vertical-align: middle;
}

.cart_no_of_itmes {
  //position: absolute;
  //top: 5px;
  //right: 10.15vw;
  font-family: 'Libre Franklin';
  font-weight: 800;
  font-size: 12px;
  //display: inline-flex;
  //vertical-align: middle;
}

.login_icon {
  margin-top: -4px;
  margin-right: 4px;
}

.icon_text {
  @media (max-width: 800px) {
    color: white;
  }
}

.cart_icon {
  margin-top: -4px;
  margin-right: 4px;
}

.cart_icon_logged_in {
  top: -15px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: -5px 10px 0 0;
}

.close:hover,
.close:focus {
  color: #373737;
  text-decoration: none;
  cursor: pointer;
}

.input-style {
  height: 41px;
  width: 90%;
  margin-bottom: 22px;
  border: 1px solid #a3a3a3;
  color: #5e5e5e;
  font-size: 14px;
  padding-left: 7px;
}

.reg_input_style {
  height: 41px;
  width: 98%;
  margin-bottom: 15px;
  border: 1px solid #a3a3a3;
  color: #5e5e5e;
  font-size: 14px;
  padding-left: 7px;
}

.login_form {
  margin: 0px auto;
  width: 280px;
  height: 100px;
}

.register_form {
  margin: 0px auto;
  width: 400px;
  height: 100px;
}

.login_button {
  width: 93%;
  height: 45px;
  background-color: #ff424e;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  font-family: 'Libre Franklin';
  margin-top: 15px;
  margin-bottom: 25px;
}

.login_button:hover {
  background-color: #e0313c;
  border: none;
  color: #ffffff;
}

.register_button {
  width: 100%;
  height: 45px;
  background-color: #ff427b;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  font-family: 'Libre Franklin';
  margin-top: 15px;
  margin-bottom: 25px;
}

.register_button:hover {
  background-color: #df3a6b;
  border: none;
  color: #ffffff;
}

.register_link {
  margin: 20px 0px 0px 50px;
  font-family: 'Libre Franklin';
  color: #7c7c7c;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.5;
  border-bottom: 0.5px solid #7c7c7c;
  padding-bottom: 3px;
  cursor: pointer;
}

.register_link:hover {
  color: #292929;
  border-bottom: 1px solid #292929;
}

.swal2-html-container {
  font-family: 'Libre Franklin';
}

.lunch_header_container {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #e5be9e;
}

.lunch_header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lunch_header_header {
  position: absolute;
  left:350px;
  top:130px;
  font-size: 26px;
  font-weight: 800;
  color: #f7ede4;
  font-family: 'Comfortaa';
  margin-left: -2px;
}


.lunch_header_text {
  position: absolute;
  font-size: calc(8px + 0.5vw);
  font-weight: 100;
  color: #f7ede4;
  font-family: 'Comfortaa';
}

.lunch_header_text_container { 
  position: absolute;
  left:350px;
  top:170px;
  display: block;
  overflow-wrap: break-word;
  width: 50px;
  white-space: normal;
  width: 300px;
  height: 100px;
  line-height: 1.5;
}

.lunch_header_img_container {
  position: absolute;
  right:300px;
  top:35px;
  display: block;
  overflow-wrap: break-word;
  width: 50px;
  white-space: normal;
  width: 300px;
  height: 300px;
  line-height: 1.5;
}

.breakfast_bg {
  background-color: #f4e3d1;
}

.breakfast_text {
  color: #9c9186;
}

.lunch_bg {
  background-color: #e5be9e;
}

.lunch_text {
  color: #f7ede4;
}
.cakes_bg {
  background-color: #c8c1c6;
}

.cakes_text {
  color: #361d2e;
}

.drinks_bg {
  background-color: #86a397;
}

.drinks_text {
  color: #d3ddd9;
}

.food_category_header_container {
  width: 100%;
  height: calc(100px + 20vw);
  display: flex;
  flex-direction: row-reverse;
}

.food_category_header_header {
  @media (max-width: 500px) {
    margin: 9vw 0 0 4vw;
  }
  font-size:calc(20px + 0.5vw);
  font-weight: 800;
  font-family: 'Comfortaa';
  min-width: 150px;
  margin-bottom: 10px;
}


.food_category_header_text {
  @media (max-width: 500px) {
    visibility: hidden;
  }
  font-size: calc(9px + 0.3vw);
  font-weight: 100;
  font-family: 'Comfortaa';
}

.food_category_header_text_container {
  overflow-wrap: break-word;
  width: 20vw;
  white-space: normal;
  height: 100px;
  line-height: 1.5;
  margin-right: 11vw;
  padding-top: 8.5vw;
  margin-left: 5.5vw;
}

.food_category_header_img_container {
  @media (max-width: 375px) {
    margin-right: 6vw;
  }
  float: right;
  width: calc(130px + 11vw);
  padding-top: 3.8vw;
  padding-right: 2vw;
}

.food_category_header_inner_container {
  @media (max-width: 375px) {
    margin: 0;
  }
  width: 60vw;
  min-width: 360px;
  margin: 0 auto;
}

.cakes_header_container {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #c8c1c6;
}

.cakes_header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cakes_header_header {
  position: absolute;
  left:350px;
  top:130px;
  font-size: 26px;
  font-weight: 800;
  color: #361d2e;
  font-family: 'Comfortaa';
  margin-left: -2px;
}


.cakes_header_text {
  position: absolute;
  font-size: 14px;
  font-weight: 100;
  color: #361d2e;
  font-family: 'Comfortaa';
}

.cakes_header_text_container { 
  position: absolute;
  left:350px;
  top:170px;
  display: block;
  overflow-wrap: break-word;
  width: 50px;
  white-space: normal;
  width: 300px;
  height: 100px;
  line-height: 1.5;
}

.cakes_header_img_container {
  position: absolute;
  right:300px;
  top:35px;
  display: block;
  overflow-wrap: break-word;
  width: 50px;
  white-space: normal;
  width: 300px;
  height: 300px;
  line-height: 1.5;
}

.drinks_header_container {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #86a397;
}

.drinks_header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drinks_header_header {
  position: absolute;
  left:350px;
  top:130px;
  font-size: 26px;
  font-weight: 800;
  color: #d3ddd9;
  font-family: 'Comfortaa';
  margin-left: -2px;
}


.drinks_header_text {
  position: absolute;
  font-size: 14px;
  font-weight: 100;
  color: #d3ddd9;
  font-family: 'Comfortaa';
}

.drinks_header_text_container { 
  position: absolute;
  left:350px;
  top:170px;
  display: block;
  overflow-wrap: break-word;
  width: 50px;
  white-space: normal;
  width: 300px;
  height: 100px;
  line-height: 1.5;
}

.drinks_header_img_container {
  position: absolute;
  right:300px;
  top:35px;
  display: block;
  overflow-wrap: break-word;
  width: 50px;
  white-space: normal;
  width: 300px;
  height: 300px;
  line-height: 1.5;
}

.cart-content {
  @media (max-width: 480px) {
    width: 95%;
  }
  margin: auto;
  width: 70%;
}

.cart-header {
  margin: 40px 0 10px 0;
}

.cart_heading {
  font-family: 'Libre Franklin';
  color: #414141;
  font-weight: 800;
}

.cart_empty {
  font-family: 'Indie Flower';
  float: right;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: 100;
  color: rgb(255, 187, 187);
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  3px 3px 7px #c7c7c7, 
              -3px -3px 7px #ffffff;
  width: 30px;
  height: 30px;
}

.remove_item {
  font-family: 'Indie Flower';
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: 100;
  color: rgb(255, 187, 187);
  margin-left: 5px;
}

.modify_amount {
  font-family: 'Indie Flower';
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  font-weight: 100;
  color: rgb(255, 187, 187);
  margin: 0 10px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  3px 3px 7px #c7c7c7, 
              -3px -3px 7px #ffffff;
  width: 20px;
  height: 20px;
}

.large {
  font-size: 24px;
}

.medium {
  font-size: 17px;
  margin-bottom: 15px;
}

.bold {
  font-weight: 800;
}

tr.cart_table_row td {
  border-bottom: 1pt solid #e8e8e8;
}

p {
  margin-bottom: 0;
}

.table-cell tr, td, th {
  @media (max-width: 480px) {
    font-size: 12px;
    padding: 10px 0;
  }
  height: 20px;
  padding: 20px 0;
  font-family: 'Comfortaa';
  font-weight: 100;
}

.react-datepicker-ignore-onclickoutside {
  line-height: 30px;
  border: none;
  font-size: 20px important!; 
}

.react-datepicker {
  background-color: #fff;
  border: 3px solid pink important!;
  display: inline-block;
  position: relative;
}

input {
  border: rgb(211, 209, 209) 1px solid;
  line-height: 30px;
  padding: 10px;
  font-size: 20px;
  color: rgb(90, 90, 90);
}

.delivery_time {
  width: 400px;
  height: 120px;
  display: inline-block;
  float: left;
}

.total {
  @media (max-width:480px) {
    width: 100%;
    margin: auto;
  }
  @media (min-width:480px) {
    float: right;
    display: inline-block;
  }
  width: 250px;
  height: 200px;
}

.cart-body {
  margin-top: 40px;
  display: block;
  width: 100%;

  .cart_table_container{
    min-height: 250px;
    display: block;
    overflow: auto;
  }

  .cart-table {
    width: 100%;
    border-spacing: 0;
  }

  th {
    background-color: #758aa1;
    color: #fff;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .small {
    @media (max-width: 480px) {
      font-size: 9px;
    }
    font-size: 12px;
  }

  .wide {
    width: 120px;
  }

  .total-table {
    margin: auto;
    width: 80%;
    border-spacing: 0;
    position: absolute;
    bottom: 15%;
    left: 10%;

    tr, td, th {
      background-color: #9fbcdb;
    }
  }
}

.time_picker {
  margin-left: 10px;
}

.btn {
  @media (max-width:480px) {
    width: 100%;
    height: 65px;
  }
  width: 93%;
  height: 45px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  font-family: 'Libre Franklin';
  margin-top: 15px;
  margin-bottom: 25px;
}

.btn:hover {
  border: none;
  color: #ffffff;
}

.disabled {
  background-color: #c0c0c0;
}

.active {
  background-color: #ff424e;
}

.active:hover {
  background-color: #e0313c;
}

.empty_cart {
  margin-top: 30px;
}

.submit_button {
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  font-family: 'Libre Franklin';
  width: 100%;
  height: 50px;
  background-color: #eff1f3;
  border: none;
  color: #97a1ac;
  margin-top: 24px;

}

.submit_button:hover{
  background-color: #97a1ac;
  color: #eff1f3;
}

.msubmit_button {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  font-family: 'Libre Franklin';
  width: 100.15%;
  margin: 17px 0 0 -0.5px;
  height: 50px;
  background-color: #ff424e;
  border: none;
  color: #ffffff;
}

.msubmit_button:hover{
  background-color: #e0313c;
}

.modal_header {
  padding: 15px 0 0 15px;
  font-size: 18px;
}